.heading-primary {
  font-size: 2.5rem;
  padding: 1rem;
}

.heading-secondary {
  font-size: 1.1rem;
  padding: 0 2rem;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1100px) {
  .heading-secondary {
    font-size: 1rem;
  }
}

.paragraph {
  font-size: .8rem;
  padding: 1.5rem;
  font-family: 'Roboto', sans-serif;
  margin: 0 1rem;
  line-height: 1.5rem;
}

.paragraph-icon {
  font-size: 1rem;
  padding: 1rem;
}

h3 {
  font-size: .6rem;
}

.ristorante {
  display: inline-block;
  font-weight: lighter;
  font-size: 1.7rem;
  margin-bottom: .5rem;
  font-family: 'caveat', cursive;
  letter-spacing: 1px;
}

@media screen and (max-width: 700px) {
  .ristorante {
    display: block;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    margin-right: 1.4rem;
  }
}

.center {
  text-align: center;
}

.m-b {
  margin-bottom: 1rem;
}

.border-l {
  margin: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.281);
}

@media screen and (max-width: 500px) {
  .border-l {
    margin: 0;
  }
}

.border-r {
  margin: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.281);
}

@media screen and (max-width: 500px) {
  .border-r {
    margin: 0;
  }
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

.p-b {
  text-decoration-color: rgba(253, 176, 21, 0.801);
}

.space {
  width: 80%;
  height: 2vh;
  margin: auto;
  background-color: rgba(253, 176, 21, 0.801);
}

#icon {
  font-size: 1.5rem;
  padding-right: 1rem;
  color: rgba(253, 176, 21, 0.801);
}

.button {
  margin: 1rem;
  text-align: center;
}

.button .btn {
  font-family: 'Roboto', sans-serif;
  padding: .1rem;
  font-size: 1rem;
  color: rgba(253, 176, 21, 0.801);
  text-decoration: none;
  border-left: solid 1px rgba(253, 176, 21, 0.801);
  border-bottom: solid 1px rgba(253, 176, 21, 0.801);
}

.button .btn:hover {
  background-color: rgba(253, 176, 21, 0.801);
  color: white;
  border-left: solid 1px rgba(252, 168, 1, 0.801);
  border-bottom: solid 1px rgba(252, 168, 1, 0.801);
}

.showcase {
  height: 52vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.431), 0 6px 20px 0 rgba(0, 0, 0, 0.431);
}

.showcase__logo-main {
  width: 2rem;
  height: 2rem;
}

.showcase__nav {
  font-size: 1.3rem;
  font-weight: bold;
  height: 6vh;
  color: white;
  background-color: #9e9e9e;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1100px) {
  .showcase__nav {
    font-size: 1rem;
    height: 8vh;
  }
}

@media screen and (max-width: 700px) {
  .showcase__nav {
    height: 14vh;
  }
}

@media screen and (max-height: 400px) {
  .showcase__nav {
    height: 9vh;
  }
}

.showcase__nav ul {
  margin-top: 1rem;
  float: right;
}

@media screen and (max-width: 700px) {
  .showcase__nav ul {
    margin-top: 1.5rem;
    float: none;
    text-align: center;
  }
}

.showcase__nav ul li {
  display: inline;
  padding: .5rem;
  border-right: 1.5px #cecece dotted;
}

.showcase__nav ul li:hover {
  background-color: rgba(253, 176, 21, 0.801);
  color: #e6e6e6;
}

@media screen and (max-width: 600px) {
  .showcase__nav ul li {
    font-size: .8rem;
    padding: 0 .5rem;
    letter-spacing: 1px;
  }
}

.showcase__nav ul a {
  color: rgba(253, 176, 21, 0.801);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.719);
}

.showcase__nav ul a:hover {
  color: #e6e6e6;
}

.showcase__nav .lang {
  font-size: .8rem;
  color: white;
  padding: .3rem;
  text-decoration: underline;
  text-underline-position: under;
}

@media screen and (max-width: 600px) {
  .showcase__nav .lang {
    font-size: .7rem;
  }
}

.showcase__nav .lang:hover {
  background-color: rgba(253, 176, 21, 0.801);
}

.showcase__main {
  background-image: linear-gradient(to right bottom, rgba(248, 177, 62, 0.185), rgba(129, 129, 129, 0.356)), url("../img/show-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 46vh;
  position: relative;
}

@media (min-width: 601px) and (max-width: 1100px) {
  .showcase__main {
    height: 44vh;
  }
}

@media screen and (max-width: 700px) {
  .showcase__main {
    height: 39vh;
  }
}

@media screen and (max-height: 400px) {
  .showcase__main {
    height: 43vh;
  }
}

.showcase__logo-logo {
  width: 14rem;
  height: 14rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: logo ease 3s;
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .showcase__logo-logo {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (max-width: 600px) {
  .showcase__logo-logo {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-height: 400px) {
  .showcase__logo-logo {
    width: 7rem;
    height: 7rem;
  }
}

.showcase__heading-primary {
  color: white;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  position: absolute;
  margin-top: 1rem;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -85%);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.808);
  animation: heading ease 6s;
}

@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .showcase__heading-primary {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .showcase__heading-primary {
    font-size: 1.4rem;
  }
}

@media screen and (max-height: 400px) {
  .showcase__heading-primary {
    font-size: 1.3rem;
    padding-bottom: .5rem;
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 71vh;
  background-color: rgba(228, 229, 232, 0.205);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.431), 0 6px 20px 0 rgba(0, 0, 0, 0.431);
}

.section ::selection {
  background: rgba(253, 176, 21, 0.801);
  color: white;
}

@media screen and (max-width: 950px) {
  .section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 78vh;
  }
}

@media screen and (max-height: 600px) {
  .section {
    height: 150vh;
  }
}

@media screen and (max-width: 950px) {
  .section__photo {
    background-image: url("../img/curve-1-2x.png");
  }
}

.section__photo-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 3fr);
  align-items: center;
}

.section__photo-1 {
  transform: translate(36%, -44%);
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.431), 0 6px 20px 0 rgba(0, 0, 0, 0.431);
  border-radius: 20%;
  z-index: 1;
}

.section__photo-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.431), 0 6px 20px 0 rgba(0, 0, 0, 0.431);
  width: 80%;
  z-index: 2;
  border-radius: 20%;
}

.section__photo-3 {
  transform: translate(-42%, -30%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.431), 0 6px 20px 0 rgba(0, 0, 0, 0.431);
  width: 80%;
  z-index: 1;
  border-radius: 20%;
}

.section__contact {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  height: 30vh;
  background-color: #9e9e9e;
}

@media (max-width: 950px) {
  .section__contact {
    grid-template-columns: repeat(1, 1fr);
    height: 75vh;
  }
}

@media screen and (max-height: 600px) {
  .section__contact {
    height: 150vh;
  }
}

.section__contact-contact {
  font-family: 'Roboto Condensed', sans-serif;
  padding: .6rem;
  border-right: 2px white dotted;
}

.section__contact-contact a {
  text-decoration: none;
  color: white;
}

.section__contact-contact li {
  font-size: .8rem;
}

@media (max-width: 950px) {
  .section__contact-contact {
    border-bottom: 1px white dotted;
    border-right: none;
  }
}

.section__contact-icon {
  display: block;
  font-size: 1rem;
  margin: 1rem;
  text-align: left;
}

.section__contact-timeline {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1rem;
  border-right: 2px white dotted;
}

@media (max-width: 950px) {
  .section__contact-timeline {
    border-bottom: 1px white dotted;
    border-right: none;
  }
}

.section__contact-timeline li {
  font-size: .8rem;
  list-style-type: none;
  padding: 0.4rem;
}

.section__contact-map {
  position: relative;
}

.section__contact-map .map {
  width: 70%;
  height: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .section__contact-map .map {
    width: 70%;
  }
}

@media (max-width: 950px) {
  .section__contact-map .map {
    width: 80%;
  }
}

.footer {
  font-family: 'Roboto', sans-serif;
  height: 17vh;
  background: #303030;
  color: white;
  position: relative;
}

@media screen and (max-width: 450px) {
  .footer {
    height: 40vh;
  }
}

@media (max-width: 950px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
    height: 27vh;
  }
}

@media screen and (max-height: 600px) {
  .footer {
    height: 45vh;
  }
}

.footer-social {
  padding: 1rem;
}

@media (max-width: 950px) {
  .footer-social {
    text-align: center;
  }
}

.footer-social .social {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.footer-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 950px) {
  .footer-all {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer-logo {
  width: 3rem;
  height: 3rem;
}

.footer .diego {
  position: relative;
  margin: .5rem;
  font-family: 'Gamja Flower', cursive;
  font-size: 1.2rem;
  font-weight: lighter;
  color: black;
  text-decoration: none;
}

.footer .o {
  color: #bd4d0c;
}

.planet {
  background-image: linear-gradient(to bottom, #d2ff0b, #1659d4);
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'caveat', cursive;
  font-size: 62.5%;
  margin: 0 3rem;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 1rem;
  }
}
/*# sourceMappingURL=main.css.map */