.heading-primary{
  font-size: 2.5rem;
  padding: 1rem;
  
}

.heading-secondary{
  font-size: 1.1rem;
  padding:0 2rem;
  font-family: 'Roboto', sans-serif;
 
  @media screen and (max-width:1100px) {
    font-size: 1rem;
   }
}

.paragraph{
  font-size: .8rem;
  padding: 1.5rem;
  font-family: 'Roboto', sans-serif;
  margin: 0 1rem;
  line-height: 1.5rem;

  &-icon{
    font-size: 1rem;
    padding: 1rem;
  }
  
}
h3{
  font-size: .6rem;
}
.ristorante{

  display: inline-block;
  font-weight: lighter;
  font-size: 1.7rem;
  margin-bottom: .5rem;
  font-family: 'caveat', cursive;
  letter-spacing: 1px;
  @media screen and (max-width:700px) {
  display: block;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  margin-right: 1.4rem;
  
  
  }
}